/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 1em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/* CUSTOM CSS */

tr:hover {
  background-color:rgba(97, 104, 105, 0.220);
}

.btn-group {
  width: 100%;
}
.btn-group button{
  width: 25%;
}
body {
  background-image:url(../img/pattern0.png); background-repeat:repeat
}
ul
{
    list-style-type: none;
}
hr.style-one {
    border: 1px;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
hr.style-three {
    border: 1px;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
