<div id="requester" class="container well" >
	
	
	<span class="page-header">
	  <h2>URL <small>location against we'll call the API.</small></h2>
	</span>
	<div id="url_container" class="input-append row span10">
		<input name="url" type="url" class="span10" placeholder="http://">
		<button class="btn" type="button" ng-click="sendRequest(method)">{{ method }}</button>
	</div>
	<label class="label label-success">{{ method }}</label>
	
	<div class="btn-group row span10">
	  <button class="btn" ng-click="setMethod('GET')">GET</button>
	  <button class="btn" ng-click="setMethod('POST')">POST</button>
	  <button class="btn" ng-click="setMethod('UPDATE')">UPDATE</button>
	  <button class="btn" ng-click="setMethod('DELETE')">DELETE</button>
	</div>
	
	<span class="page-header">
	  <h2>Headers <small>values added to the request header.</small></h2>
	</span>
	
	<ul id="headers_container" class="headers row span12">
	  <li ng-repeat="header in headers">
		<div class="input-prepend">
		  	<input class="span4 add-on" value="{{ header.head }}">
		  	<input class="span10" id="prependedInput" type="text" value="{{ header.value }}">
		</div>	
	  </li>
	</ul>
	
	<span class="page-header">
	  <h2>Parameters <small>values added to the request body.</small></h2>
	</span>
	
	<ul id="params_container" class="headers row span12">
	  <li ng-repeat="param in params">
		<div class="input-prepend">
		  	<input class="span4 add-on" value="{{ param.head }}">
		  	<input class="span10" id="prependedInput" type="text" value="{{ param.value }}">
		</div>	
	  </li>
	</ul>
	
	<div id="result_box" class="well row span8">
		{{ result }}
	</div>
	
</div>

<hr class="style-one">
